#!/usr/bin/env nextflow

// Global default params, used in configs
params {
    // Pipeline Options
    outdir = 'results'
    tracedir = "${params.outdir}/pipeline_info"
    publish_dir_mode = 'copy'
    email = null
    email_on_fail = null
    plaintext_email = false
    monochrome_logs = false
    help = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'genomes'
    enable_conda = false

    // References
    genome = null
    igenomes_base = 's3://ngi-igenomes/igenomes'
    igenomes_ignore = false
}

includeConfig 'params.config'
// Load base.config by default for all pipelines
// includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
// includeConfig 'conf/modules.config'

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    // includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Nextflow Execution Environment Configuration
process {
    // Default process resource requirements
    cpus = 1
    memory = 6.GB
    time = 4.h

    // Error strategy
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 1
    maxErrors = '-1'

    withName: 'EXTRACT_REGIONS' {
        container = 'phylocsf_pipe'
    }
    withName: 'INDEX_MAFS' {
        container = 'phylocsf_pipe'
    }
    withName: 'MAF_TO_FASTA' {
        container = 'phylocsf_pipe'
    }
    withName: 'PHYLOCSF' {
        container = 'phylocsf_pipe'
    }
    withName: 'FORMAT_RESULTS' {
        container = 'phylocsf_pipe'
    }
    

    // Process-specific resource requirements
    // NOTE: These can be overridden in specific processes
    // withLabel:process_low {
    //     cpus = 2
    //     memory = 4.GB
    //     time = 4.h
    // }
    // withLabel:process_medium {
    //     cpus = 6
    //     memory = 42.GB
    //     time = 8.h
    // }
    // withLabel:process_high {
    //     cpus = 12
    //     memory = 84.GB
    //     time = 16.h
    // }
    // withLabel:process_long {
    //     time = 20.h
    // }
    // withLabel:process_high_memory {
    //     memory = 200.GB
    // }
}

// Configurable variables
// Uncomment to use; leave commented to use defaults

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// env {
//     PYTHONNOUSERSITE = 1
//     R_PROFILE_USER = "/.Rprofile"
//     R_ENVIRON_USER = "/.Renviron"
// }

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default
// See: https://www.nextflow.io/docs/latest/process.html#process-selectors
tower.workflow.operator.strict = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

// Load custom configs
// Uncomment and edit as needed
// includeConfig 'conf/custom.config'


// Profiles
profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    // test { includeConfig 'conf/test.config' }
}

// Manifest
manifest {
    name            = 'PhyloCSF-nf'
    author          = 'Jack Tierney'
    homePage        = 'https://github.com/JackCurragh/PhyloCSF-nf'
    description     = 'Run PhyloCSF on a BED12 of candidates'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0dev'
}

// Load modules.config for DSL2 module specific options
// includeConfig 'conf/modules.config'

// Load custom configurations
// Uncomment and edit as needed
// includeConfig 'conf/custom.config'

// Wave configuration
// wave {
//     enabled = true
//     freeze = true
// }