params {
    maf_dir = "/data1/Jack/projects/nonAUG_manuscript/MAF"
    maf_pattern = ".maf"
    bb_pattern = ".bb"
    outdir = "results/TransCODE"
    maf_url_base = "https://bds.mpi-cbg.de/hillerlab/120MammalAlignment/Human120way/data/maf/"
    feature_bed12 = "/data1/Jack/projects/PhyloCSF-nf/data/Transcode_phase2.chr.bed12"
    chrom_sizes = "/data1/Jack/projects/PhyloCSF-nf/test_data/sizes.genome"
    species_map = "/data1/Jack/projects/PhyloCSF-nf/bin/120mammals_organism_map.tsv"
}