params {
    features_bed = "$baseDir/data/candidates.bed12"
    maf_dir = null // "results/MAFs"
    maf_pattern = "*.maf"
    bb_pattern = "*.maf.bb"
    outdir = "results"
    maf_url_base = "https://bds.mpi-cbg.de/hillerlab/120MammalAlignment/Human120way/data/maf/"
    feature_bed12 = "/home/jack/projects/translon-conservation/data/raw/CTE_new.chr.bed12"
    chrom_sizes = "/home/jack/projects/PhyloCSF-nf/test_data/chrom.sizes"
}